@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

$btn-width: 250px !default;
$btn-height: 80px !default;
$color1: #000;
$color2: #e91e63;
$lineheight: 80px;
$margin: 25px;
$trans_delay: .1s;


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.button {
  width: 100%;
  height: 150px;
}


.btn {
  display: block;
  width: $btn-width;
  height: $btn-height;
  border: 1px solid $color1;
  overflow: hidden;
  color: $color1;
  line-height: $lineheight;
  text-transform: capitalize;
  float: left;
  z-index: 1;
  margin: $margin;
  border-radius: 3px;
  font-size: 1.2em;
  position: relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  outline: none;

}

[data-type] {
  &:before {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: -1;
  }

  &:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    cursor: pointer;
    -webkit-transition-delay: $trans_delay;
    transition-delay: $trans_delay;
    color: $color2;
    z-index: 8;
  }
}

[data-type="swipe"] {
  &:before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $color1;
  }

  &:hover {
    &:before {
      left: 0;
      z-index: -5;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
    }
  }
}