@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');


html, body {
  width: 100%;
  height: 100%;
}

/* position elemets for container */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

/* position for table */
.container .table_price {
  cosition: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1192px;
  height: 736px;
  background-color: #3a4965;
  font: 16px "Arimo";
  font-weight: 400;
  text-transform: uppercase;
  color: #484848;
}

/* Work with table */
.container .table_price .price_list {
  width: 1141px;
  height: 680px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
  background-color: #eeeeee;
  border-collapse: collapse;
  text-align: center;

}

/* Border for table */

.container .table_price .price_list tr td:first-child:not(.price-cost) {
  box-shadow: inset -11px 0px 5px -10px rgba(0, 0, 0, 0.27);
}

.container .table_price .price_list tr td:nth-child(3) {
  box-shadow: inset 11px 0px 5px -10px rgba(0, 0, 0, 0.27);
}

.container .table_price .price_list tr td:nth-child(4) {
  box-shadow: inset 11px 0px 5px -10px rgba(0, 0, 0, 0.27);
}

.container .table_price .price_list .cost_list td:nth-child(2) {
  box-shadow: inset 11px 0px 5px -10px rgba(0, 0, 0, 0.27);
}


/* Width for first colums for table */
.container .table_price .price_list tr td:first-child {
  width: 310px;
}

/* Width for another colums for table */
.container .table_price .price_list tr td:nth-child(2n+1):nth-child(4n-1) {
  width: 277px;
}

/* Height for all colums last cell for table */
.container .table_price .price_list tr:last-child {
  height: 110px;
}


/* Bg color white for first 2 colums for table */
.container .table_price .price_list tr:nth-child(1) {
  background-color: #fafafa;

}

.container .table_price .price_list tr:nth-child(2) {
  background-color: #fafafa;
}

/* Bg color for  3,5,7,9 colums for table */
.container .table_price .price_list tr:nth-child(2n+1):not(:nth-child(1)) {
  background-color: #f2f2f2;
}

/* Bg color for  4,6,8 colums for table */
.container .table_price .price_list tr:nth-child(even):not(:nth-child(2)) {
  background-color: #e3e3e3;
}

/* Bg color for first line colums for table */

.container .table_price .price_list .first-line {
  height: 70px;
}

.container .table_price .price_list .first-line td:nth-child(2) {
  background-color: #89c331;
  font: 24px "Arimo";
  font-weight: 700;
  color: #fff;
}

.container .table_price .price_list .first-line td:nth-child(3) {
  background-color: #f04a56;
  font: 30px "Arimo";
  font-weight: 700;
  color: #fff;
}

.container .table_price .price_list .first-line td:nth-child(4) {
  background-color: #20807c;
  font: 24px "Arimo";
  font-weight: 700;
  color: #fff;
}

/* Work with color and size font */

.storage, .bandwidth, .email, .support, .products, .users {
  height: 69px;
  width: 277px;
}

.container .table_price .price_list .first-line .price-plan .choose {
  font: 18px "Arimo";
  font-weight: 700;
}

.container .table_price .price_list .first-line .price-plan .price {
  font: 30px "Arimo";
  font-weight: 700;
}

.container .table_price .price_list .price-cost {
  height: 89px;
  width: 277px;
}

.container .table_price .price_list .price-cost .cost {
  display: inline-block;
  float: left;
  font: 60px "Arimo";
  font-weight: 700;
  margin-left: 33px;
  margin-top: -2px;
}

.container .table_price .price_list .price-cost .cent {
  display: inline-block;
  float: left;
  font: 24px "Arimo";
  font-weight: 700;


}

.container .table_price .price_list .price-cost .per {
  display: inline-block;
  float: left;
  font: 16px "Arimo";
  font-weight: 700;
  margin-top: 30px;
  margin-left: -29px;
}

.fas.fa-archive, .fas.fa-cloud-upload-alt, .fas.fa-envelope, .far.fa-life-ring, .fas.fa-cube, .fas.fa-users {
  font-size: 24px;
  margin-right: 12px;
  color: #848484;
}

/* Button for last line table */


.container .table_price .price_list .button_form .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 59px;
  width: 192px;
  height: 49px;
  background: #484848;
  border-radius: 5px;
  box-shadow: 0px -7px #404040 inset;
  font: 16px "Arimo";
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.container .table_price .price_list .button_form .button.button-black:hover {
  background-color: #3b3b3b;
  box-shadow: 5px -7px #2d2d2d inset;
}

.container .table_price .price_list .button_form .button.button-green {
  background-color: #89c331;
  box-shadow: 0px -7px #79b027 inset;
}

.container .table_price .price_list .button_form .button.button-green:hover {
  background-color: #72a328;
  box-shadow: 5px -7px #5b821f inset;
}


.container .table_price .price_list .button_form .button.button-red {
  background-color: #f04a56;
  box-shadow: 0px -7px #df3a46 inset;
}

.container .table_price .price_list .button_form .button.button-red:hover {
  background-color: #cc3e49;
  box-shadow: 5px -7px #ab333c inset;
}

.container .table_price .price_list .button_form .button.button-darkgreen {
  background-color: #20807c;
  box-shadow: 0px -7px #16736f inset;
}

.container .table_price .price_list .button_form .button.button-darkgreen:hover {
  background-color: #17615e;
  box-shadow: 5px -7px #104442 inset;
}