
@import "../mixin/fonts.scss";
@import "../mixin/color";
@import "../mixin/mixin";

.main {
  min-width: 320px;
  max-width: 1200px;
  @include flex(center, column);
  padding-bottom: 35px;

}

.categoriesPages {
  max-width: 1200px;
  width: 100%;
  @include flex(center, row wrap);
  padding-bottom: 18px;

  &__link {
    @include flex(center, row);
    width: inherit;
    height: inherit;
    text-decoration: none;

  }

  &__items {
    width: inherit;
    height: 75px;
    @include flex(space-between, row);
    padding-bottom: 2px;
  }

  &__background {
    @include flex(center, center);
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;

    &--delivery {
      background-image: url(../../../img/Pizza_delivery_fon.png);
      background-size: 128%;
      background-position: -65px -232px;
    }

    &--UI {
      background-image: url(../../../img/UA_UX.png);
      background-size: 100%;
      background-position: 0 -164px;
    }

    &--desserts {
      background-image: url(../../../img/Desserts.png);
      background-size: 100%;
      background-position: 0px -27px;
    }
  }


  &__text {
    font: 20px "Lato-Bold", sans-serif;
    color: $whiteColor;
    line-height: 2.2;

    &--delivery {
      margin-top: -5px;
      padding-left: 3px;
    }

    &--UI {
      padding-left: 23px;
    }

    &--desserts {
      margin-left: -4px;
      margin-top: -3px;
    }

  }

  &__button {
    width: 71px;
    height: 75px;
    background-color: $pagesBtn;
    @include flex(center, row);
  }

  & .fas.fa-chevron-right {
    font-size: 14px;
    color: $whiteColor;
  }

}


.textMenu {
  @include flex(center, column);
}

.parentMenu {
  width: inherit;
  @include flex(center, column);
  padding-bottom: 17px;


}


.aboutMenu {
  width: inherit;
  @include flex(center, column);
  padding-bottom: 10px;

  &__name {
    font: 20px "Lato-Regular", sans-serif;
    color: $menuTxtColor;
    text-transform: uppercase;
  }

  &__description {
    align-self: flex-start;
    font: 10px "Lato-Regular", sans-serif;
    color: $menuTxtDesColor;
    padding-left: 10px;
    padding-top: 1px;
  }
  
  &__logoImg {
    display: none;
  }

}


.pageMenu {
  width: 100%;
  @include flex(center, row wrap);

  &__headline {
    padding-bottom: 8px;
    margin-bottom: 10px;
    padding-left: 17px;
    padding-top: 5px;
    width: inherit;
    height: 24px;
    @include flex(space-between, row);
    font: 20px "Lato-Regular", sans-serif;
    color: $headLineTxtDecorColor;
    text-transform: uppercase;
    background-color: $headLineBgcColor;

    &--bgc {
      height: 25px;
      background-color: $pagesBtn;
      color: $whiteColor;
    }

    &--correct {
      margin-bottom: 14px;
    }
  }

  &__subLogo {
    width: inherit;
    @include flex(space-between, row);
    padding-top: 1px;
    padding-bottom: 15px;

  }


  .subLogo {

    &__txt {
      font: 15px "Lato-Regular", sans-serif;
      color: $headLineBgcColor;
      text-transform: uppercase;
      padding-left: 16px;

      &--paddingCup {
        padding-bottom: 16px;
      }
    }

    &__img {
      margin-right: 16px;
      width: 25px;
      height: 25px;
      background-image: url(../../../img/logo1.png);
      background-size: 100%;
      background-repeat: no-repeat;

      &--glass {
        width: 13px;
        height: 24px;
        background-image: url(../../../img/logo2.png);
        margin-right: 24px;
        margin-top: 2px;
      }

      &--cup {
        width: 30px;
        height: 21px;
        background-image: url(../../../img/logo3.png);
        margin-right: 16px;
      }

      &--cupTwo {
        width: 21px;
        height: 20px;
        background-image: url(../../../img/logo4.png);
        margin-right: 22px;
      }
    }

    &--correct {
      padding-bottom: 18px;
      margin-top: 3px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 5px;

  }

  &__items {
    @include flex(space-between, row wrap);
    padding-bottom: 1px;
  }

  &__txt {
    padding-left: 16px;
    font: 13px "Lato-Regular", sans-serif;
    color: $headLineBgcColor;
  }

  &__price {
    padding-bottom: 1px;
    font: 13px "Lato-Regular", sans-serif;
    color: $headLineBgcColor;
    padding-right: 18px;

  }

  &__subText {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__subTxtChild {
    font: 9px "Lato-Regular", sans-serif;
    color: $headLineBgcColor;
    margin-top: 6px;
    padding-left: 18px;
    padding-right: 1px;
    padding-bottom: 8px;

    &--correct {
      padding-bottom: 11px;
    }
  }
}

@media screen and (min-width: 640px) {

  .main {
    padding-bottom: 88px;
  }

  .categoriesPages {
    padding-bottom: 29px;
    &__items {
      height: 150px;
      padding-bottom: 3px;
    }

    &__button {
      width: 182px;
      height: 150px;
    }

    & .fas.fa-chevron-right {
      font-size: 27px;
      margin-top: -8px;
    }

    &__text{
      font-size: 36px;
    }

    &__background {
      &--delivery {
        background-size: 100%;
        background-position: 0px -281px;
      }

      &--UI {

        background-position: 0 -235px;
      }


      &--desserts {
        background-position: 0px -35px;
      }
    }
  }

  .parentMenu {
    padding-bottom: 12px;
  }

  .aboutMenu {
    padding-bottom: 18px;
    &__name {
      font-size: 40px;
    }

    &__description {
      font-size: 20px;
    }
  }

  .pageMenu {

    &__headline {
      height: 63px;
      font-size: 40px;
      padding-left: 35px;
      margin-bottom: 21px;
    }

  &__list {
    padding-left: 18px;
    padding-bottom: 14px;
  }
    .subLogo {
      padding-bottom: 28px;

      &__txt {
        margin-top: 3px;
        margin-bottom: 8px;
        padding-left: 35px;
        font-size: 30px;
      }

      &__img {
        margin-right: 35px;
        width: 49px;
        height: 48px;

        &--glass {
          margin-right: 45px;
          width: 27px;
          height: 48px;
        }

        &--cup {
          margin-right: 31px;
          width: 61px;
          height: 42px;
        }

        &--cupTwo {
          margin-right: 44px;
          width: 43px;
          height: 42px;
        }

      }
    }

    &__txt {
      font-size:  27px;
    }

    &__price {
      padding-right: 35px;
      font-size: 27px;
    }

    &__subTxtChild {
      font-size: 18px;
    }

    &__items {
      padding-bottom: 8px;
    }

  }

}

@media screen and (min-width: 980px) {

  .main {
    padding-bottom: 43px;
  }

  .categoriesPages {
    @include flex(center, row);
    padding-bottom: 59px;
    &__items {
      width: 100%;
      height: 327px;

    }

    &__button {
      display: none;
    }


    &__text{
      font-size: 36px;
    }

    &__background {
      &--delivery {
        background-size: 100%;
        background-position: 0 0;
      }

      &--UI {

        background-position: 0 0;
      }


      &--desserts {
        background-position: 0 0;
      }
    }
  }

  .parentMenu {
    width: 100%;
    @include flex(space-between, row);
    padding-bottom: 4px;

    &__logoImg {
      padding-right: 46px;
      margin-top: -16px;
      display: block;
      width: 109px;
      height: 89px;
      background-image: url("../../../img/Menu_logo.png");
      background-repeat: no-repeat;
    }
  }

  .aboutMenu {
    padding-bottom: 18px;
    &__name {
      padding-left: 26px;
      align-self: flex-start;
      font-size: 33px;
    }

    &__description {
      padding-left: 28px;
      font-size: 20px;
    }
    

  }


  .textMenu {
    @include flex(center, row wrap);
  }

  .textMenu__listMenu {
    @include flex(center, row);
  }

  .pageMenu {
    width: 100%;

    &__headline {
      height: 62px;
      font-size: 33px;
      padding-left: 19px;
      margin-bottom: 24px
    }

    &__list {
      padding-bottom: 14px;
    }
    .subLogo {
      padding-bottom: 28px;

      &__txt {
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 16px;
        font-size: 26px;
      }

      &__img {
        margin-right: 10px;
        width: 42px;
        height: 42px;

        &--glass {
          margin-right: 8px;
          width: 25px;
          height: 44px;
        }

        &--cup {
          margin-right: 15px;
          width: 56px;
          height: 39px;
        }

        &--cupTwo {
          margin-right: 17px;
          width: 40px;
          height: 39px;;
        }

      }
    }

    &__txt {
      margin-left: -20px;
      font-size:  24px;
    }

    &__price {
      padding-right: 16px;
      font-size: 24px;
    }

    &__subTxtChild {
      font-size: 16px;
    }

    &__items {
      padding-bottom: 0;
    }

    &--correct {
      margin-top: -3px;
    }

  }


}


@media screen and (min-width: 1200px) {

  .main {
    padding-bottom: 97px;
  }

  .categoriesPages {
    padding-bottom: 66px;
    &__items {
      width: 100%;
      height: 400px;

    }

    &__text{
      font-size: 43px;
    }

  }

  .aboutMenu {
    padding-bottom: 11px;
    &__name {
      font-size:  40px;
    }

    &__description {
      font-size: 20px;
    }


  }

  .pageMenu {

    &__headline {
      font-size: 40px;
      margin-bottom: 20px;
    }

    &__list {
      padding-bottom: 14px;
    }
    .subLogo {
      padding-bottom: 25px;

      &__txt {
        font-size: 30px;
      }

      &__img {
        width: 49px;
        height: 48px;

        &--glass {
          width: 27px;
          height: 48px;
        }

        &--cup {
          width: 61px;
          height: 42px;
        }

        &--cupTwo {
          width: 43px;
          height: 42px;
        }

      }
    }

    &__txt {
      font-size:  27px;
    }

    &__price {
      font-size: 27px;
    }

    &__subTxtChild {
      font-size: 18px;
    }

    &__items {
      padding-bottom: 8px;
    }


  }


}