
@import "../mixin/fonts.scss";
@import "../mixin/color";
@import "../mixin/mixin";



.header {
  min-width: 320px;
  max-width: 1200px;
  padding-bottom: 4px;
}

.navigation {
  max-width: inherit;
  height: 37px;
  background-color: $baseColor;
  @include flex(space-between, row);


  &__tittle {
    padding-left: 17px;
    margin-top: -3px;
    font: 12px "Montserrat-Medium", serif;
    color: $whiteColor;
    text-transform: capitalize;
  }

  &__menu {
    position: relative;
    min-width: 41px;
    height: 37px;
    background-color: $darkBlue;

  }

  &__line {
    width: 16px;
    height: 2px;
    margin-bottom: -6px;
    margin-right: 13px;
    border: none;
    color: $whiteColor;
    background-color: $whiteColor;

  }

  &__line:first-child {
    margin-top: 13px;
  }

  &__categories {
    width: 182px;
    height: 161px;
    list-style: none;

    &--hover {
      display: none;
      position: absolute;
      right: 0;
      top: 21px;
    }

    &--menu {
      display: none;
    }

  }

  &__items {

    &--rightMenu {
      width: inherit;
      height: 30px;
      background-color: $menuListStyle;
      border-bottom: 2px $menuListStyleBorder solid;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
      @include flex(start, row);
    }

    &--hover:hover {
      background-color: $menuListStyleActive;
    }

  }

  &__linkMenu {
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 12px;
    font: 12px "Lato-Regular", sans-serif;
    color: $menuHoverColor;
  }

  & .fas.fa-times {
    display: none;
    margin-top: 6px;
    margin-left: 30%;
    font-size: 24px;
    color: #fff;
  }


}

.logoImgPizza{
  display: none;
  padding-right: 30px;
  width: 104px;
  height: 83px;
  background-image: url(../../../img/navigation-logo.png);
  background-repeat: no-repeat;
}

.news {
  width: 100%;
  height: 173px;
  background-image: url(../../../img/header-fon.png);
  background-size: 100%;
  background-repeat: no-repeat;

  &__webLink {
    display: block;
    width: inherit;
    height: inherit;
    text-decoration: none;
  }

  &__subtitle {
    margin: 0;
    padding: 0;
    padding-left: 19px;
    font: 16px "Lato-Bold", serif;
    color: $whiteColor;
    line-height: 1.25;

    &:first-child {
      padding-top: 15px;
      padding-bottom: 3px;
    }

    &:nth-child(2) {
      padding-bottom: 5px;
    }
  }

  &__webSite {
    text-decoration: none;
    margin-left: 19px;
    font: 14px "Lato-Bold", serif;
    color: $lightBlue;
  }
}


@media screen and (min-width: 640px) {
  .navigation {
    height: 74px;

    &__logoImg{
      display: none;
    }

    &__line {
      width: 31px;
      height: 4px;
      margin-bottom: -4px;
      margin-right: 24px;

      &:first-child {
        margin-top: 26px;
      }
    }

    &__tittle {
      padding-left: 36px;
      font-size: 24px;
    }

    &__menu {
      width: 82px;
      height: 74px;

    }

    &__categories--hover {
      right: 61px;
      top: 58px;
    }

    &__items {
      width: 243px;
      height: 41px;
    }

    &__linkMenu {
      padding-top: 26px;
      padding-left: 28px;
      font-size: 14px;
    }

    & .fas.fa-times {
      margin-top: 15px;
      margin-left: 29px;
      font-size: 39px;
    }

  }

  .news {
    height: 346px;

    &__subtitle {
      font-size: 36px;
      padding-left: 39px;

      &:first-child {
        padding-top: 20px;
      }

      &:nth-child(2) {
        padding-bottom: 14px;
        margin-top: -6px;
      }

    }

    &__webSite {
      padding-left: 19px;
      font-size: 24px;
    }
  }
}


@media screen and (min-width: 980px) {
  .navigation {
    height: 97px;
    @include flex(space-between, row);

    &__line {
      display: none;

    }

    &__tittle {
      display: none;
    }

    &__menu {
     display: none;
    }

    &__categories {
      width: inherit;
      &--menu {
        @include flex(center, row);
      }

    }

    &__items {
      width: inherit;
      margin-left: -41px;
      padding-right: 49px;
      padding-top: 24px;
    }

    &__linkMenu {
      font: 15px 'Montserrat-Regularr';
      text-transform: uppercase;
      color: $whiteColor;
    }

    .logoImgPizza {
      display: block;
    }

  }



  .news {
    height: 530px;

    &__subtitle {
      font-size: 54px;
      margin-left: -8px;

      &:first-child {
        padding-top: 48px;
      }

      &:nth-child(2) {
        padding-bottom: 50px;
        margin-top: -6px;
      }

    }

    &__webSite {
      padding-left: 36px;
      margin-left: -8px;
      font-size: 34px;
    }
  }
}


@media screen and (min-width: 1200px) {

  html{
    @include flex(center, row);
  }

  .news {
    height: 649px;
    &__subtitle {
      font-size: 62px;


    }

    &__webSite {

      font-size: 38px;
    }
  }
}

