<footer class="footer">
    <a href="#" class="logoImgPizza"></a>
    <span class="footer__txt">Best pizza from 2018 year. </span>
    <span class="footer__txt">New UA/UX salads - not boring, only fun.  </span>
</footer>