<header class="header ">
    <nav class="navigation">
        <span class="navigation__tittle">navigation</span>
        <div class="navigation__menu">
            <hr class="navigation__line">
            <hr class="navigation__line">
            <hr class="navigation__line">
            <i class="fas fa-times"></i>
            <ul class="navigation__categories navigation__categories--hover ">
                <li class="navigation__items navigation__items--rightMenu navigation__items--hover">
                    <a href="#" class="navigation__linkMenu">Pizza delivery</a>
                </li>
                <li class="navigation__items navigation__items--rightMenu navigation__items--hover">
                    <a href="#" class="navigation__linkMenu">Ui/UX
                    Salads</a>
                </li>
                <li class="navigation__items navigation__items--rightMenu navigation__items--hover">
                    <a href="#" class="navigation__linkMenu">Desserts</a>
                </li>
                <li class="navigation__items navigation__items--rightMenu navigation__items--hover">
                    <a href="#" class="navigation__linkMenu">About
                    Us</a>
                </li>
                <li class="navigation__items navigation__items--rightMenu navigation__items--hover">
                    <a href="#" class="navigation__linkMenu">Contacts</a>
                </li>
            </ul>
        </div>
        <ul class="navigation__categories navigation__categories--menu ">
            <li class="navigation__items">
                <a href="#" class="navigation__linkMenu">Pizza delivery</a>
            </li>
            <li class="navigation__items">
                <a href="#" class="navigation__linkMenu">Ui/UX
                    Salads</a>
            </li>
            <li class="navigation__items">
                <a href="#" class="navigation__linkMenu">Desserts</a>
            </li>
            <li class="navigation__items">
                <a href="#" class="navigation__linkMenu">About
                    Us</a>
            </li>
            <li class="navigation__items">
                <a href="#" class="navigation__linkMenu">Contacts</a>
            </li>
        </ul>
        <a href="#" class="logoImgPizza"></a>
    </nav>
    <section class="news">
        <a href="#" class="news__webLink">
        <p class="news__subtitle">All we need is Love.</p>
        <p class="news__subtitle">And pizza. Pizza is good</p>
        <span class="news__webSite">www.new-pizza.com</span>
        </a>
    </section>
</header>