<main class="main">
    <section class="categoriesPages">
        <div class="categoriesPages__items">
            <a href="#" class="categoriesPages__link">
            <span class="categoriesPages__background categoriesPages__background--delivery"><span
                    class="categoriesPages__text categoriesPages__text--delivery">Pizza Delivery</span></span>
            <span class="categoriesPages__button"><i
                    class="fas fa-chevron-right"></i></span>
        </a>
        </div>
        <div class="categoriesPages__items">
            <a href="#" class="categoriesPages__link">
            <span class="categoriesPages__background categoriesPages__background--UI">
                <span class="categoriesPages__text categoriesPages__text--UI">UA/UX Salads</span></span>
            <span class="categoriesPages__button"><i
                    class="fas fa-chevron-right"></i></span>
            </a>
        </div>
        <div class="categoriesPages__items">
            <a href="#" class="categoriesPages__link">
            <span class="categoriesPages__background categoriesPages__background--desserts">
                <span class="categoriesPages__text categoriesPages__text--desserts">Desserts</span></span>
            <span class="categoriesPages__button"><i
                    class="fas fa-chevron-right"></i></span>
            </a>
        </div>
    </section>


    <section class="textMenu">
        <div class="parentMenu">
        <div class="aboutMenu">
            <span class="aboutMenu__name">neque ero ullamcorper sed</span>
            <span class="aboutMenu__description">Ultrices cursus sit amet placerat tortor</span>

        </div>
            <a href="#" class="parentMenu__logoImg"></a>
        </div>

<div class="textMenu__listMenu">
        <div class="pageMenu  pageMenu--correct">
            <div class="pageMenu__headline">tincidunt at mauris</div>
            <div class="pageMenu__subLogo subLogo">
                <span class="subLogo__txt">id hendrerit velit quis</span>
                <span class="subLogo__img"></span>
            </div>
            <ul class="pageMenu__list">
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Lass aptent taciti</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Nec fermentum nibha</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Eu dolor accumsan pharetra</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Non duis dictum eros neci</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
            </ul>
            <div class="pageMenu__subLogo subLogo">
                <span class="subLogo__txt">id dolor pellentesque</span>
                <span class="subLogo__img subLogo__img--glass"></span>
            </div>
            <ul class="pageMenu__list">
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Lass aptent taciti</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Nec fermentum nibh</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="pageMenu">
            <div class="pageMenu__headline pageMenu__headline--bgc pageMenu__headline--correct">vestibulum augue et</div>
            <div class="pageMenu__subLogo subLogo">
                <span class="subLogo__txt">augue Proin eleifend</span>
                <span class="subLogo__img subLogo__img--cup "></span>
            </div>
            <ul class="pageMenu__list">
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Lass aptent taciti</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Nec fermentum nibha</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Eu dolor accumsan pharetra</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Non duis dictum eros neci</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
            </ul>
            <div class="pageMenu__subLogo subLogo subLogo--correct ">
                <span class="subLogo__txt">pharetra at sit amet sem</span>
                <span class="subLogo__img subLogo__img--cupTwo"></span>
            </div>
            <ul class="pageMenu__list">
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Lass aptent taciti</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
                <li class="pageMenu__items">
                    <span class="pageMenu__txt">· Nec fermentum nibh</span>
                    <span class="pageMenu__price">$1200</span>
                    <ul class="pageMenu__subText">
                        <li class="pageMenu__subTxtChild">Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis. </li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>


        </div>


    </section>
</main>