$baseColor: #373c3f;
$whiteColor: #fff;
$darkBlue: #202529;
$lightBlue: #a6d6e0;
$menuHoverColor: #444444;
$menuListStyle: #fafafa;
$menuListStyleActive: #f5f5f5;
$menuListStyleBorder: #f1f1f1;
$pagesBtn: #acd8ad;
$menuTxtColor: #3f4043;
$menuTxtDesColor: #cbccce;
$headLineTxtDecorColor: #acd8ad;
$headLineBgcColor: #3f4043;
