
  @font-face {
      font-family: "Montserrat-Medium";

    src: url("../../../fonts/Montserrat-Medium.otf");

}


  @font-face {
    font-family: "Lato-Bold";
    src: url("../../../fonts/Lato-Bold.ttf");
  }
  @font-face {
    font-family: "Lato-Regular";
    src: url("../../../fonts/Lato-Regular.ttf");
  }

  @font-face {
    font-family: "Montserrat-Regularr";
    src: url("../../../fonts/Montserrat-Regular.ttf");
  }
