doctype html
html
    head
        include includes/head.pug
    body(class="bg-light")
        h1 hello world
        include  includes/foot.pug

        //ul
        //    each client in clients
        //        li.client=clients.firstName
