
@import "../mixin/fonts.scss";
@import "../mixin/color";
@import "../mixin/mixin";


.footer {
  min-width: 320px;
  max-width: 1200px;
  height: 55px;
  background-color: $headLineTxtDecorColor;
  @include flex(center, column);

  &__txt{
    font: 12px "Montserrat-Regularr", sans-serif;
    color: $whiteColor;
    line-height: 1.33;
  }
}


@media screen and (min-width: 640px) {
  .footer {
    height: 97px;

    &__txt {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 980px) {
  .footer {
    @include flex(center, row);
    height: 97px;

    &__txt {
      font-size: 18px;
    }
    &__txt:nth-child(2) {
      padding-left: 191px;
    }

    .logoImgPizza {
      display: block;
    }

  }


}

@media screen and (min-width: 980px) {
  .footer {


    &__txt:nth-child(2) {
      padding-left: 394px;
    }


  }
}


