
body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.table {
  width: 1000px;
  height: 1000px;
  border: 1px black solid;


  &__column {
    border: 1px black solid;

  }

  &__row {
    background-color: #fff;
    border: 1px black solid;

    &--active {
      background-color: black;
      border: 1px #fff solid;
    }
  }

}


.table-active {
  width: 1000px;
  height: 1000px;
  border: 1px grey solid;

  .table__row {
    background-color: black;
    border: 1px #fff solid;

    &--active {
      border: 1px black solid;
      background-color: #fff;
    }
  }


}