.container {
  border: 1px dashed gray; }
  .container .list {
    margin: 20px; }
    .container .list .item {
      padding: 10px;
      color: darkgrey;
      background-color: whitesmoke;
      list-style: none; }
      .container .list .item.active {
        -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        background-color: blue;
        color: #fff; }
