@import "variabel";

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}


.container {
  border: 1px dashed gray;

  .list{

    margin: 20px;

    .item {
      padding: 10px;
      color: darkgrey;
      background-color: whitesmoke;
      list-style: none;

      &.active{
        @include transform(rotate(3deg));
        background-color: $color-blue;
        color: #fff;
      }
    }

  }


}

